.title {
    color:red;
    font-size:60px;
}

.container {
    background: black;
    color: white;
    padding-bottom:20px;
    margin-top:50px;
}

body {
    text-align: center;
    background:teal;
    background-image: url("../images/background.jpg");
    font-family: 'Play', sans-serif;
    margin-top:100px;
}

#question-text {
    color:white;
}

.option {
    padding-right:15px;
    font-size:20px;
    display:none;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 10px;
}
input {
    visibility:hidden;
}
label {
    cursor: pointer;
}
input:checked{
    color: red;
}

#question {
    font-size:40px;
}

.reset-btn {
    width:200px;
    background:black;
    color:white;
    margin-top:100px;
}

.hide {
    display:none;
}

#result {
    font-size:60px;
    color:white;
    background: black;
}

#result2 {
    font-size:60px;
    color:white;
    background: black;
}